<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>VitaBalance | Clínico</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/view.css" rel="stylesheet" />
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="../inicio.html"><img src="../assets/img/navbar-logo.svg" alt="..." /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link" href="../index.html">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="../views/deportivo.html">Deportivo</a></li>
                    <li class="nav-item"><a class="nav-link" href="../views/pediatra.html">Pediatría</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Contenido -->
    <section class="page-section mt-3">
        <div class="container">
            <h3 class="subtitle text-center">Área Clínica</h3>
            <div class="row">
                <div class="col-lg-12 col-md-6 mx-auto">
                    <p class="text-black">El balance perfecto en la alimentación de un atleta es escencial para que su
                        rendimiento sea siempre el mejor, desde VitaBalance podras crear una dieta con la que explotes
                        todo tu potencial.
                    </p>
                </div>
                <div class="col-lg-12 col-md-6 mx-auto">
                    <img class="img-fluid" src="../assets/img/clinico.jpg" alt="">
                </div>
            </div>
        </div>

        <!-- Formulario -->
        <div class="container mt-3">
            <!-- Datos -->
            <h3 class="subtitle">Ingresa tus datos:</h3>

            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label for="edad" class="form-label">Edad</label>
                        <input type="number" class="form-control" id="edad" min="18" max="110">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label for="estatura" class="form-label">Estatura (Cm)</label>
                        <input type="number" class="form-control" id="estatura">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label for="peso" class="form-label">Peso (Kg)</label>
                        <div class="dropdown">
                            <input type="number" class="form-control" id="peso" min="10">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-3">
                        <label for="enfermedad" class="form-label">Enfermedad</label>
                        <div class="dropdown">
                            <select class="form-control" id="enfermedad">
                                <option value="diabetes">Diabetes</option>
                                <option value="precion">Enfermedades del corazón</option>
                                <option value="ninguna">Ninguna</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Botones Finales -->
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary" onclick="calcularDieta()"> Crear dieta </button>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div id="error" class="text-danger"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer-->
    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-start">Copyright &copy; VitaBalance 2023</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i
                            class="fab fa-instagram"></i></a>
                </div>
                <div class="col-lg-4 text-lg-end">
                    <a class="link-dark text-decoration-none me-3" href="#!">Politica de Privacidad</a>
                    <a class="link-dark text-decoration-none" href="#!">Terminos de Uso</a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="../js/scripts.js"></script>
    <script>
        function descargarDieta(nombreReceta) {
            var rutaReceta = '/assets/pdf/clinico/' + nombreReceta;
            console.log(rutaReceta)
            var enlaceDescarga = document.createElement('a');
            enlaceDescarga.href = rutaReceta;
            enlaceDescarga.download = nombreReceta;
            document.body.appendChild(enlaceDescarga);
            enlaceDescarga.click();
            document.body.removeChild(enlaceDescarga);
        }

        function calcularDieta() {
            var edad = document.getElementById('edad').value;
            var peso = document.getElementById('peso').value;
            var estatura = document.getElementById('estatura').value;
            var enfermedad = document.getElementById('enfermedad').value;

            console.log(edad, peso, estatura, enfermedad)
            if (edad && peso && estatura && enfermedad) {
                var altura = estatura / 100;
                var imc = peso / (altura * altura);

                var resultadoIMC = "";
                if (imc < 18.5) {
                    resultadoIMC = "bajo";
                } else if (imc >= 18.5 && imc < 25) {
                    resultadoIMC = "normal";
                } else {
                    resultadoIMC = "alto";
                }
                asignarDieta(resultadoIMC, edad, enfermedad);
            } else {
                document.getElementById('error').innerHTML = "Por favor, completa todos los campos.";
            }
        }

        function asignarDieta(resultadoIMC, edad, enfermedad) {
            var receta = "";

            if (resultadoIMC === "bajo" && enfermedad === 'ninguna') {
                descargarDieta("receta_3.pdf");
            } else if (resultadoIMC === "normal" && enfermedad != 'ninguna' && edad < 30) {
                descargarDieta("receta_3.pdf");
            } else if (enfermedad != 'ninguna' && edad > 30) {
                descargarDieta("receta_2.pdf");
            } else {
                descargarDieta("receta_1.pdf");
            }

            document.getElementById('error').innerHTML = "";
            document.getElementById('edad').value = "";
            document.getElementById('peso').value = "";
            document.getElementById('estatura').value = "";
            document.getElementById('enfermedad').value = "";

        }
    </script>
</body>

</html>